@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: inherit;
    font-family: 'Roboto', sans-serif;

}
body{
    height: 100vh;
    background-color: ffffff;

}
main {
    padding-bottom: 30px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 90px;
    
}

.container_lafth{
    
}
.container_right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;   
    width: 348px;
    height: 331px;
    border: 0.5px solid #ddd ;    
}
#colorblue{
    color: blue;
}
.container_right img{
    margin-bottom: 20px;
}

.container_right img:nth-child(2){
    border-radius: 50%;
    width: 100px;
}

.container_right img:nth-child(1){
    width: auto;
}

.container_right button{
    padding: 5px;
    width: 210.38px;
    height: 30px;
    margin-bottom: 30px;
    background-color: #0095f6;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 50px;
}
.container_right p{
    font-size: 12px;
    font-weight: 700;
}

footer {
    padding-bottom: 150px;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: auto;
}

.rodape a{
    color: #8e8e8e;
    margin-left: 5px;
    font-size: 13px;
    padding: 5px;
}

.idiomas{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 12px;
    border: none;

}

select{
    border: none;
    font-size: 12px;
    color: #8e8e8e;
    border: 0;
    outline: 0;
    background-color: transparent;
}


.frommeta{
    font-size: 12px;
    color: #8e8e8e;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
      /* re move arrow */
      -webkit-appearance: none;
      /* add some padding for image */
      padding-right: px; 
      /* apply SVG with arrow */
      /* change width value to move arrow to the left */
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 15 15"><path d="M 8,5.5 11,9.5 14,5.5 z"></path></svg>');
      background-repeat: no-repeat;
      background-position: center right;
    }
  }